
/* common */

  :root{
    --yottecho-maincolor: rgb(236, 251, 251);
    --yottecho-subcolor: #f9d7bd;
    --yottecho-pointcolor: #f2b45d;
    --yottecho-revaersecolor: rgb(65, 134, 171);
    --yottecho-footercolor: rgb(148, 182, 196);
    --yottecho-sidecolor: rgb(135, 170, 185);
    --yottecho-textcolor: rgb(72, 48, 48);
    --side_width: 280px;
  }

  @font-face{ 
    font-family: 'huiji-subset';
    src: url('../fonts/ふい字\(よってちょ用サブセット\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{ 
    font-family: 'kiwimaru-subset';
    src: url('../fonts/KiwiMaru-light\(サブセット\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--yottecho-maincolor);
    font-family: 'kiwimaru-subset', serif;
    color: var(--yottecho-textcolor);
    overflow-x: hidden;
  }
  section{
    margin: 0 10px;
    text-align: center;
  }
  section + section{
    margin: 80px 10px;
  }
  h2{
    font-size: 24px;
    margin:10px 0 30px;
    padding-top: 16px;
  }
  p{
    width: 90%;
    max-width: 520px;
    margin: 8px auto;
    text-align: left;
    font-feature-settings: "palt";
  }
  dt{
    font-weight: normal;
    margin-bottom: 4px;
  }
  dd + dt{
    margin-top: 12px;
  }
  dd + dd{
    margin-top: 4px;
  }
  li + li{
    margin-top: 8px;
  }
  .main-area{
    width: 100%;
  }
  .container{
    margin: 8px;
  }
  .list-in-list{
    position: relative;
    padding-left: 1em;
  }
  .list-in-list::before{
    content: "■";
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 12px;
    line-height: 18px;
  }
  .list-in-list + li{
    margin-top: 4px;
  }
  .marker{
    background:linear-gradient(transparent 65%, #ffad5692 65%);
    font-weight: bold;
  }

  @media(min-width:520px){

    /* スマホでのみ改行 */
    .sp-br{
      display: none;
    }
  }

/* common */


/* カーニング(フォントを変更した際は注意) */

  .left-bracket-24px{
    margin-left: -10px;
  }
  .right-bracket-24px{
    margin-right: -10px;
  }
  .left-bracket-16px{
    margin-left: -6px;
  }
  .right-bracket-16px{
    margin-right: -6px;
  }
  .punctuation{
    margin-right: -6px;
  }

/* カーニング(フォントを変更した際は注意) */


/* TOPへ戻るボタン */

  #to_top{
    position: fixed;
    bottom: 85px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--yottecho-pointcolor);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
  }
  #to_top.show{
    opacity: .7;
    pointer-events: all;
  }
  #to_top:hover{
    opacity: 1;
  }
  #to_top img{
    width: 40px;
    object-fit: contain;
  }

  @media(min-width:520px){
  
    #to_top{
      bottom: 15px;
    }

  }

/* TOPへ戻るボタン */

/* サイドバー(PCサイズで出現) */

  .side-nav{
    display: none;
  }


  @media(min-width: 800px){

    .side-nav{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      left: 0;
      height: 100%;
      width: var(--side_width);
      padding: 8px;
      background-color: var(--yottecho-sidecolor);
      box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .4);
      z-index: 1;
    }
    .side-nav h1{
      text-align: center;
      font-family: 'huiji-subset', cursive;
      font-size: 14px;
      margin-top: 8px;
      color: #fff;
    }
    .side_logo{
      display: block;
      width: 120px;
      object-fit: contain;
      margin: 4px auto 10px;
    }
    .side-nav__list{
      border-right: solid 8px var(--yottecho-subcolor);
      background: whitesmoke;
      border-radius: 5px 0 0 5px;
      padding: 0.5em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
      margin: 8px;
      text-align: center;
      cursor: pointer;
      transition: all .5s;
    }
    .side-nav__list:hover{
      border-right: solid 8px var(--yottecho-revaersecolor);
    }
    .side-nav__list:last-child{
      margin-top: 30px;
    }
    .side-nav__footer{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: auto;
    }
    .well{
      width: 50px;
      object-fit: contain;
    }
    .side-nav small{
      text-align: center;
      color: #fff;
    }

    /* サイドバーを除いたエリア(.main-area) */

      .main-area{
        width: calc(100% - var(--side_width));
        position: absolute;
        left: var(--side_width);
      }
  
    /* サイドバーを除いたエリア(.main-area) */

  }

/* サイドバー(PCサイズで出現) */


/* スマホ用ナビ(.sp-nav) */

  .sp-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(255,255,255,.8);
    z-index: 2;
  }
  .sp-nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .sp-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 60px;
    margin: 0;
    background-color: var(--yottecho-pointcolor);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .sp-nav__p{
    font-weight:500;
    margin: 0;
    width: 100%;
  }
  .sp-nav__list img{
    width: 30px;
    margin: 2px 4px;
    object-fit: contain
  }

  @media(min-width:520px){

    .sp-nav{
      display: none;
    }

  }

/* スマホ用ナビ(.sp-nav) */


/* header */

  header{
    position: relative;
    top: 0;
    width: 100%;
  }
  .header__bgi{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .appearance-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 45%;
  }
  .smile{
    position: absolute;
    z-index: 1;
    height: 30%;
    border: 3px #fff solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.621);
    border-radius: 2px;
    opacity: 0;
    filter: saturate(90%);
    animation-name: smile-fadein-out;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .smile:nth-child(2){
    left: 3%;
    top: 5%;
    transform: rotate(-14deg);
    height: 30%;
    animation-delay: 1s;
  }
  .smile:nth-child(3){
    left: 3%;
    bottom: 8%;
    transform: rotate(10deg);
    animation-delay: -3s;
  }
  .smile:nth-child(4){
    right: 5%;
    top: 6%;
    transform: rotate(10deg);
    height: 33%;
    animation-delay: 9s;
  }
  .smile:nth-child(5){
    right: 3%;
    bottom: 7%;
    transform: rotate(-6deg);
    animation-delay: 5s;
  }

  @keyframes smile-fadein-out {
    0% {opacity: 0;}
    30% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    100% {opacity: 0;}
  }

  .header__h1{
    position: absolute;
    z-index: 2;
    font-size: 16px;
    width: 200px;
    top: 35px;
    right: calc(50% - 100px);
    margin: 8px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'huiji-subset', cursive;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
  }
  .header__logo-img{
    position: absolute;
    z-index: 2;
    width: 150px;
    top: 80px;
    right: calc(50% - 75px);
    object-fit: contain;
    margin: 8px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,.5));
  }

  .header__hours{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 150px;
    width: 85px;
    height: 60px;
    font-size: 13px;
    z-index: 2;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
  }
  .header__hours dd{
    margin: 0;
  }
  .business-hours{
    left: calc(50% - 100px);
  }
  .service-hours{
    left: calc(50% - 10px);
  }

  .header__nav{
    display: none;
    z-index: 2;
  }

  @media(min-width:520px){
    
    .header__bgi{
      height: 350px;
    }
    .smile{
      height: 40%;
      border: 6px #fff solid;
    }
    .smile:nth-child(2){
      height: 35%;
      left: 2%;
      top: 4%;
    }
    .smile:nth-child(3){
      left: 3%;
      bottom: 5%;
    }
    .smile:nth-child(4){
      height: 43%;
      right: 5%;
      top: 6%;
    }
    .smile:nth-child(5){
      right: 1%;
      bottom: 4%;
    }

    .header__h1{
      font-size: 20px;
      width: 240px;
      top: 55px;
      right: calc(50% - 120px);
    }
    .header__logo-img{
      width: 200px;
      top: 110px;
      right: calc(50% - 100px);
    }
    .header__hours{
      top: 215px;
      width: 110px;
      height: 70px;
      font-size: 16px;
    }
    .business-hours{
      left: calc(50% - 130px);
    }
    .service-hours{
      left: calc(50% - 10px);
    }
    .header__nav{
      display: block;
      width: 100%;
      margin: 0;
      padding: 4px;
    }
    .header__nav ul{
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 8px;
    }
    .header__nav-list{
      display:flexbox;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
      border: 1.5px solid var(--yottecho-textcolor);
      border-radius: 5px;
      color: var(--yottecho-textcolor);
      background-color: #fff;
      transition: all .5s;
      margin: 0;
      padding: 8px;
    }
    .header__nav-list:hover{
      color: #fff;
      background-color: var(--yottecho-textcolor);
    }
  }


/* header */


/* main */

/* よってちょについて(.strength) */

  .strength h2{
    margin-bottom: 4px;
  }
  .illust__strength-top{
    height: 130px;
    object-fit: contain;
    margin: 0px;
    backface-visibility: hidden;
  }
  .strength__time{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .strength__time div{
    display: flex;
    justify-content: center;
  }
  .strength__p{
    text-indent: 1em;
    line-height: 1.5em;
    letter-spacing: .07em;
  }
  .strength__but1{
    text-align: center;
    font-size: 20px;
    width: 120px;
  }
  .strength__but2{
    text-align: center;
    font-size: 20px;
    width: 100px;
  }
  .strength__time-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    height: 70px;
    color: var(--yottecho-textcolor);
    border: 1px solid var(--yottecho-textcolor);
    border-radius: 5px;
    text-align: center;
    margin: 8px;
  }
  .strength__time-list dd{
    margin: 0;
  }
  .speechbubbles{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 90%;
    max-width: 330px;
    margin: 0 auto;
  }
  .spbubble{
    position: absolute;
    width: 190px;
  }
  .spbubble:nth-child(1){
    right: 0;
    top: 0;
  }
  .spbubble:nth-child(2){
    width: 220px;
    left: 0;
    top: 65px;
  }
  .spbubble:nth-child(3){
    right: 8%;
    top: 143px;
  }
  .illust-spbubble{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .spbubble-comment{
    position: absolute;
    color: #105183;
    font-size: 13px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .spb-c1{
    top: 30px;
    left: 17px;
  }
  .spb-c2{
    top: 34px;
    left: 22px;
  }
  .spb-c3{
    top: 20px;
    left: 24px;
  }
  .illust-ok{
    width: 100px;
  }
  .strength__lists{
    text-align: left;
    max-width: 520px;
    margin: 8px auto;
    padding: 24px 24px 24px 46px;
    border: 1.5px solid var(--yottecho-textcolor);
    border-radius: 5px;
    list-style: circle;
    background-color: rgba(255, 255, 255, 0.479);
  }
  .speechbubbles2{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 90%;
    max-width: 330px;
    margin: 0 auto;
  }
  .spbubble2{
    position: absolute;
  }
  .spbubble2:nth-child(1){
    width: 190px;
    right: 3%;
    top: 0;
  }
  .spbubble2:nth-child(2){
    width: 170px;
    left: 0%;
    top: 65px;
  }
  .spbubble2:nth-child(3){
    width: 170px;
    right: 0%;
    top: 127px;
  }
  .spbubble2:nth-child(4){
    width: 110px;
    left: 120px;
    top: 250px;
  }
  .spb-c4{
    top: 31px;
    left: 14px;
  }
  .spb-c5{
    top: 33px;
    left: 21px;
  }
  .spb-c6{
    top: 20px;
    left: 23px;
  }
  .spb-c7{
    text-align: center;
    top: 12px;
    left: 7px;
  }
  .illust-guts{
    position: absolute;
    width: 130px;
    top: 200px;
    left: 0;
  }
  .illust-snack{
    position: absolute;
    width: 70px;
    top: 22px;
    right: 180px;
  }
  .illust-knitting{
    position: absolute;
    width: 70px;
    top: 113px;
    left: 20px;
  }
  .illust-shoes{
    position: absolute;
    width: 100px;
    top: 170px;
    right: 10px;
  }

  @media(min-width:450px){

    .speechbubbles{
      max-width: 400px;
    }
    .spbubble{
      width: 230px;
    }
    .spbubble:nth-child(1){
      right: 0;
      top: 0;
    }
    .spbubble:nth-child(2){
      width: 255px;
      left: 0;
      top: 64px;
    }
    .spbubble:nth-child(3){
      right: 5%;
      top: 143px;
    }

    .spbubble-comment{
      font-size: 16px;
    }

    .spb-c1{
      top: 36px;
      left: 18px;
    }
    .spb-c2{
      top: 39px;
      left: 15px;
    }
    .spb-c3{
      top: 23px;
      left: 30px;
    }

    .speechbubbles2{
      max-width: 500px;
    }
    .spbubble2:nth-child(1){
      width: 230px;
      right: 3%;
      top: 0;
    }
    .spbubble2:nth-child(2){
      width: 210px;
      left: 10%;
      top: 65px;
    }
    .spbubble2:nth-child(3){
      width: 210px;
      right: 0%;
      top: 133px;
    }
    .spbubble2:nth-child(4){
      left: 140px;
      top: 260px;
      width: 150px;
    }
    .spb-c4{
      top: 37px;
      left: 17px;
    }
    .spb-c5{
      top: 40px;
      left: 24px;
    }
    .spb-c6{
      top: 24px;
      left: 27px;
    }
    .spb-c7{
      text-align: center;
      top: 18px;
      left: 8px;
    }
    .illust-guts{
      position: absolute;
      width: 150px;
      top: 200px;
      left: 0;
    }
    .illust-snack{
      position: absolute;
      width: 90px;
      top: 20px;
      right: 230px;
    }
    .illust-knitting{
      position: absolute;
      width: 90px;
      top: 125px;
      left: 80px;
    }
    .illust-shoes{
      position: absolute;
      width: 120px;
      top: 187px;
      right: 10px;
    }

  }

  @media(min-width:520px){

    .strength__time{
      justify-content: center;
      flex-direction: row;
    }
    .strength__but1{
      margin: 15px 0 0 0;
      font-size: 24px;
    }
    .strength__but2{
      margin: 40px 0 0 0;
      font-size: 24px;
    }

  }

/* よってちょについて(.strength) */


/* ご利用の対象となる方(.target) */

  .target__h2{
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 5px dotted var(--yottecho-pointcolor);
    padding-bottom: 10px;
  }
  .target__p{
    text-align: center;
  }

/* ご利用の対象となる方(.target) */


/* お試し無料(.freeplan) */

  .free-plan__anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
  }

  .free-plan__box{
    position: relative;
    width: 87%;
    min-width: 270px;
    max-width: 330px;
    height: 160px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid var(--yottecho-pointcolor);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.833);
  }
  .free-plan__main{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .free-plan__main dt{
    font-size: 30px;
    width: 100px;
    text-align: center;
  }
  .free-plan__main dt span{
    font-size: 40px;
  }
  .free-plan__main dd{
    font-size: 70px;
    color: rgb(46, 147, 46);
  }
  .free-plan__chance{
    position: absolute;
    width: 85px;
    height: 85px;
    font-size: 18px;
    line-height: 20px;
    top: -52px;
    right: -20px;
    transform: rotate(20deg);
    padding-top: 22px;
    border: 2px dashed rgb(105, 165, 205);
    border-radius: 50%;
    background-color: #fff;
    letter-spacing: -3px;
  }
  .free-plan__chance__two{
    font-size: 40px;
    color: rgb(125, 180, 209);
    font-weight: bold;
    letter-spacing: -4px;
    padding-top: 10px;
    padding-right: 9px;
    padding-left: -12px;
  }
  .free-plan__chance__made{
    padding-right: 6px;
  }
  .free-plan__box > small{
    font-size: 16px;
  }
  .free-plan__p{
    max-width: 320px;
  }

  @media(min-width:400px){

    .free-plan__chance{
      top: -40px;
      right: -20px;
    }
    .free-plan__box > small{
      font-size: 18px;
    }
  }


/* お試し無料(.freeplan) */


/* 料金体系(.paln) */

  .plan__h2{
    margin-bottom: 4px;
  }
  .plan__small{
    display: block;
    margin: 4px auto 16px;
  }
  .plan__lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plan__list{
    width: 95%;
    max-width: 500px;
    padding: 20px 0;
    margin: 8px;
    background-color: rgba(255, 236, 172, 0.756);
    border-radius: 20px;
    opacity: .5;
    box-shadow:
    3px 3px 12px transparent,
    -3px -3px 12px transparent
    ;
    transition: all .6s;
  }
  .plan__list-choice{
    opacity: 1;
    box-shadow:
     3px 3px 12px rgba(17, 17, 17, 0.3),
     -3px -3px 12px rgba(17, 17, 17, 0.3)
    ;
  }
  .plan__list > dt{
    font-size: 22px;
    margin: 16px;
  }
  .plan__list > dd{
    width: 100%;
  }
  .price-container + .price-container::before{
    content: "+";
    font-weight: bold;
    font-size: 24px;
  }
  .price-container{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
  }
  .price-container dt,
  .price-container dd{
    margin: 10px;
  }
  .plan__select{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow:
    3px 3px 12px rgba(17, 17, 17, 0.3),
    -3px -3px 12px rgba(17, 17, 17, 0.3);
  }
  .plan-level{
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
    margin: 0 auto;
  }
  .plan-level dt,
  .plan-level dd{
    width: calc(50%);
    margin: 6px 0;
  }
  .plan-level dd{
    text-align: right;
    padding-right: 20px;
  }
  .plan__number{
    font-size: 24px;
    line-height: 18px;
    font-weight: bold;
    transition: all .3s;
  }
  .plan__plus{
    position:relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    font-size: 50px;
    line-height: 44px;
    font-weight: bold;
    margin: -18px;
    padding: 0 0 0 1px;
    color: #fff;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.221);
    top: 0px;
    user-select: none;
    transition: all .6s;
  }
  .plan__plus-move{
    top: -148px;
    margin: -25px;
    cursor: pointer;
  }
  input[type="radio"] + label {
    font-size: 1.125em;
    font-weight: 300;
    cursor: pointer; 
  }
  input[type="radio"] + label:before {
    content: "●";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    color: transparent;
    padding: 3.3px 3px 3px 2.7px;
    background-color: #d7d7d7;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: 1px;
  }
  input[type="radio"]:checked + label:before {
    background-color: rgb(157, 232, 163);
    color: white; 
    transition: all .4s;
  }
  input[type="radio"] {
    display: none; 
  }
  
/* 料金体系(.paln) */

/* お問い合わせ(.contact) */

  .contact > p{
    margin: 16px auto;
  }
  .contact__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 95%;
    max-width: 320px;
    background-color: var(--yottecho-revaersecolor);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    margin: 12px auto;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: all .5s;
  }
  .contact__button:hover{
    color: #fff;
  }
  .contact__button img{
    width: 40px;
    object-fit: contain;
    margin: 4px;
  }
  .contact dt{
    font-weight: normal;
  }
  .contact__reception-time{
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 3px;
    margin-left: 12px;
  }
  .contact__faq-box{
    border: dashed 2px var(--yottecho-pointcolor);
    background: rgba(255,255,255,.5);
    border-radius: 8px;
    width: 95%;
    max-width: 450px;
    padding:16px 24px 24px;
    margin: 24px auto;
  }
  .contact__faq-box h3{
    font-size: 20px;
    margin-bottom: 8px;
  }
  .contact__faq-q{
    text-decoration: underline;
    text-decoration-color: var(--yottecho-pointcolor);
  }
  .contact__faq-q::before{
    content: "Q";
    position: absolute;
    top: -9px;
    left: -12px;
    font-size: 24px;
    color: var(--yottecho-pointcolor);
    margin: 4px;
  }
  .contact__faq-a::before{
    content: "A";
    position: absolute;
    top: -7px;
    left: -12px;
    font-size: 24px;
    color: var(--yottecho-revaersecolor);
    margin: 4px;
  }
  .contact__faq-q,
  .contact__faq-a{
    position: relative;
    padding-left: 1em;
    margin: 6px;
    text-align: left;
    letter-spacing: .04em;
    line-height: 1.3em;
  }
  .contact__faq-a + dt{
    margin-top: 20px;
  }

  @media(min-width:400px){

    .contact__button:hover{
      background-color: var(--yottecho-pointcolor);
      color: #fff;
    }

  }

/* お問い合わせ(.contact) */

/* アクセス(.access) */

  .access address{
    margin: 8px;
  }
  .access dt,
  .access dd{
    text-align: center;
  }
  .access dt::before{
    content: "■";
  }
  #map{
    height: 300px;
    width: 95%;
    max-width: 500px;
    border-radius: 8px;
    margin: 8px auto;
  }

/* アクセス(.access) */

/* footer */

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: var(--yottecho-footercolor);
    box-shadow: 0 0 10px 10px var(--yottecho-footercolor);
  }
  footer img{
    height: 24px;
    object-fit: contain;
  }
  footer small{
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }
  footer div{
    display: flex;
    margin: 2px 0;
  }
  footer address{
    font-size: 12px;
  }
  footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer ul li{
    font-size: 12px;
    margin: 2px;
  }
  footer ul li::before{
    content: "■";
  }
  .sp-footer{
    height: 70px;
    width: 100%;
    background-color: var(--yottecho-footercolor);
  }

  @media(min-width:520px){

    .sp-footer{
      display: none;
    }

  }

/* footer */


/* 採用情報ページ */


  /* 正社員･パート勤務(.employee) */

  .illust-employee{
    width: 100px;
  }
    .employee{
      margin: 0 auto;
      padding: 8px;
    }
    .employee dt{
      font-weight: bold;
    }
    .employee__list{
      border-left: solid 8px var(--yottecho-subcolor);
      background: whitesmoke;
      border-radius: 0 12px 12px 0;
      max-width: 460px;
      padding: 0.5em;
      margin: 8px auto;
      text-align: left;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }

  /* 正社員･パート勤務(.employee) */

  /* 処遇改善加算について(.document) */

    .document a{
      text-decoration: underline;
      color: #ea494987;
      transition: color .3s;
    }
    .document a:hover{
      color: var(--yottecho-revaersecolor);
    }

  /* 処遇改善加算について(.document) */

/* 採用情報ページ */

